<a href="https://colab.research.google.com/github/HINITAPRIYANKA/Scifor/blob/main/9_1_24_Assignment_Hinitapriyanka.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#convert odd numbers to even numbers in a list
Num=int(input("Enter a number:"))
if Num%2!=0:
   Num+=1
print(Num)

Enter a number:5
6

In [ ]:
# replace the first element with the last and last with the first in a list
A=[2,4,3,6,8,7,9,10]
for i in range(len(A)):
  if A[i]%2!=0:
   A[i]+=1
print(A)

[2, 4, 4, 6, 8, 8, 10, 10]

In [ ]:
user_input = input("Enter a list: ")
list =  user_input.split()
if list:
    list[0], list[-1] = list[-1], list[0]
    print("List after swapping first and last element:", list)
else:
    print("List is empty.")

Enter a list: h 5 3 4 'hini'
List after swapping first and last element: ["'hini'", '5', '3', '4', 'h']

In [ ]:
#program to take user inputs and add the inputs to a list
user_list = []
while True:
    user_input = input("Enter an element: ")
    if user_input.lower() == 'done':
        break
    user_list.append(user_input)
print("User input list:", user_list)

Enter an element: 2 3 5
Enter an element: h o p
Enter an element: "Hini"
Enter an element: done
User input list: ['2 3 5', 'h o p', '"Hini"']

In [ ]:
employee_names = ["001-Jack", "002-Jacob", "003-Crystal", "006-Kylie", "007-Chuck", "0010-Andre"]
print("Initial Employee List:", employee_names)
#correct employee names
employee_names[1] = "002-Jake"
employee_names[3] = "006-Kyliee"

# Add new names
employee_names.append("011-Mia")
employee_names.insert(3, "004-Alex")

# Add names of employees who couldn't show up on the Date Of Joining
employee_names.insert(2, "005-Rachel")
employee_names.insert(5, "008-Mark")

# Delete an employee who has resigned
employee_names.remove("003-Crystal")

# Delete the entire new employees record once the project is done
del employee_names[employee_names.index("011-Mia"):]


print("Final Employee List:", employee_names)

Initial Employee List: ['001-Jack', '002-Jacob', '003-Crystal', '006-Kylie', '007-Chuck', '0010-Andre']
Final Employee List: ['001-Jack', '002-Jake', '005-Rachel', '004-Alex', '008-Mark', '006-Kyliee', '007-Chuck', '0010-Andre']