<a href="https://colab.research.google.com/github/HINITAPRIYANKA/Scifor/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
correct = 0
wrong = 0
q1 = int(input("enter 1+1?"))
if q1 == 2:
  print("correct")
  correct += 1
else:
  print("wrong")
  wrong += 1
q1 = int(input("enter 1+1?"))
if q1 == 2:
  print("correct")
  correct += 1
else:
  print("wrong")
  wrong += 1
q1 = int(input("enter 1+1?"))
if q1 == 2:
  print("correct")
  correct += 1
else:
  print("wrong")
  wrong += 1
q1 = int(input("enter 1+1?"))
if q1 == 2:
  print("correct")
  correct += 1
else:
  print("wrong")
  wrong += 1


print(correct)
print(wrong)

enter 1+1?3
wrong
0
1

In [ ]:
num = 0
while num<10:
  num += 1
  print(num)

In [ ]:
num = 0
while num<10:
  print(num)
  num += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
n = [] #empty list
print(type(n))

<class 'list'>

In [ ]:
n1 = ["steve",1,7.0,True]

0     1    2    3
steve 1.   7.0.  True

In [ ]:
print(n1)
print(n1[0])
print(n1[-1])
print(n1[0:3])
print(n1[::-1])

['steve', 1, 7.0, True]
steve
True
['steve', 1, 7.0]
[True, 7.0, 1, 'steve']

In [ ]:
names = ["steve","keshav","ryansh","faith"]
print(names)
names.append("a")
print(names)
names.insert(0,"new")
print(names)
names.remove("ryansh")
print(names)
names.pop(2)
print(names)
names.extend(["a","b","c"])
print(names)
names.reverse()
print(names)

['steve', 'keshav', 'ryansh', 'faith']
['steve', 'keshav', 'ryansh', 'faith', 'a']
['new', 'steve', 'keshav', 'ryansh', 'faith', 'a']
['new', 'steve', 'keshav', 'faith', 'a']
['new', 'steve', 'faith', 'a']
['new', 'steve', 'faith', 'a', 'a', 'b', 'c']
['c', 'b', 'a', 'a', 'faith', 'steve', 'new']

In [ ]:
names = ["steve","keshav","ryansh","faith"]
print(len(names))
for i in names:
  print(i)

4
steve
keshav
ryansh
faith

In [ ]:
names = ["steve","keshav","ryansh","faith"]
names[2] = "jjjjj" #v imp
print(names)

['steve', 'keshav', 'jjjjj', 'faith']

In [ ]:
#tuple
names = (1,2,"jjk")
print(names)

(1, 2, 'jjk')